name: Terraform Plan

on:
  workflow_dispatch:

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

env:
  AWS_REGION: eu-west-2

jobs:
  plan:
    name: Terraform plan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials 
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::555569221122:role/ECS-projecct-github-actions-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init & Plan
        run: |
          cd infra
          terraform fmt -check
          terraform init
          terraform plan
